@font-face {
  font-family: nunito;
  src: url("./Fonts/nunito/Nunito-Regular.ttf");
}

body {
  margin: 0;
  font-family: 'nunito', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: green;
}

#ThisIsNotASpiral{
  position: fixed;
  width: 600px;
  height: 600px;
  left: 25%;
  top: 3.5%;
  pointer-events: none;
}

#ThisIsNotAnEye1{
  display: none;
}

#ThisIsNotAnEye2{
  display: none;
}

.frameAnimation{
  animation: frameAnimation 10.3s steps(1) infinite, flicker 10.3s steps(30) infinite ;
}

.chaos{
  animation: frameAnimation 1.3s steps(13) infinite, flicker 10.3s steps(30) infinite ;
  animation-timing-function: ease;
}


@keyframes frameAnimation {
  0% { background-position: 0px; }
  33% { background-position: -600px; }
  66% { background-position: -1200px; }
  0% { background-position: 0px; }
}

@keyframes flicker {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  cursor: pointer;
  text-decoration: underline;
}

