@font-face {
  font-family: nunito;
  src: url("./Fonts/nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: cabin;
  src: url("./Fonts/cabin.regular.ttf");
}

@font-face {
  font-family: graffiti_city;
  src: url("./Fonts/graffiti_city/Graffiti_City.otf");
}

@font-face {
  font-family: marsneveneksk;
  src: url("./Fonts/marsneveneksk/MARSNEVENEKSK-Regular.otf");
}

@font-face {
  font-family: mostwasted;
  src: url("./Fonts/mostwasted/Mostwasted.ttf");
}

@font-face {
  font-family: next_custom;
  src: url("./Fonts/next_custom/Next_Custom.ttf");
}

@font-face {
  font-family: sister_spray;
  src: url("./Fonts/sister_spray/Sister_Spray.ttf");
}

@font-face {
  font-family: the end is never the end_jacatra;
  src: url("./Fonts/the end is never the end_jacatra/the end is never the end_JACATRA.otf");
}

@font-face {
  font-family: urban_heroes;
  src: url("./Fonts/urban_heroes/Urban_Heroes.ttf");
}

body {
  margin: 0;
  font-family: 'nunito', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: repeat;
}

#ThisIsNotABG{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -999;
}
#ThisIsNotABlog{
  display: none;
}

#rabbit_hole{
  position: fixed;
  top: 100px;
  left: 450px;
  z-index: -1;
  cursor: pointer;
}

#credits{
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

#ThisIsNotASpiral{
  position: fixed;
  width: 600px;
  height: 600px;
  left: 25%;
  top: 3.5%;
  pointer-events: none;
}

#ThisIsASpiral{
  position: fixed;
  width: 100%;
  height: 100%;
  top: -60%;
  pointer-events: none;
  z-index: 1000;
}

#ThisIsASpiral img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#ThisIsNotAnEye1{
  display: none;
}

#ThisIsNotAnEye2{
  display: none;
}

td .infodump{
  width: 200px;
  border: 1px solid red;
  padding: 10px;
}

.frameAnimation{
  animation: frameAnimation 30.3s steps(1) infinite, flicker 10.3s steps(30) infinite ;
}

.realeyescolor{
  animation: realeyesbganimation 5.6s steps(255) infinite;
}

.gaslightbgcolor{
  animation: gaslightbganimation 30.6s steps(255) infinite;
}

.chaos{
  animation: frameAnimation 1.3s steps(13) infinite, flicker 10.3s steps(30) infinite ;
  animation-timing-function: ease;
}

.peacefulbg{
 animation: frameAnimation2 33.3s steps(1) infinite;
}

.bgbutithatesyou{
  animation: frameAnimation2 0.6s steps(1) infinite;
 }

 @keyframes gaslightbganimation {
  0% { background-color: #edd387; }
  33% { background-color: #eed287; }
  66% { background-color: #edd288; }
  0% { background-color: #fdd287 }
}

@keyframes realeyesbganimation {
  0% { background-color: red; }
  33% { background-color: green; }
  66% { background-color: blue; }
  0% { background-color: yellow }
}

@keyframes frameAnimation2 {
  0% { background-position: 0px; }
  33% { background-position: -1656px; }
  66% { background-position: -3312px; }
  0% { background-position: 0px; }
}

@keyframes frameAnimation {
  0% { background-position-x: 0px; }
  33% { background-position-x: -600px; }
  66% { background-position-x: -1200px; }
  0% { background-position-x: 0px; }
}

@keyframes flicker {
  0% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.section{
  padding: 10px;
  border-bottom: 1px solid black;
}
.birthday-container{
  width: 900px;
  height: 600px;
  border-radius: 13px;
  margin-bottom: auto;
  margin-left: auto;
  position: fixed;
  top: 5%;
  left: 15%;
  margin-right: auto;
  background-color: #edd287;
  border: 3px solid black;
  border-radius: 13px;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, .2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  cursor: pointer;
  text-decoration: underline;
}


.logoName{
  font-family: 'norse', sans-serif;
  padding: 5px;
  font-size: 10px;

}

/* unvisited link */
a.paldemic:link {
    color: #01a5b2;
    text-decoration: none;
}

/* visited link */
a.paldemic:visited {
    color: #01a5b2;
    text-decoration: none;
}

/* mouse over link */
a.paldemic:hover {
    color: #01a5b2;
    text-decoration: underline;
}

/* selected link */
a.paldemic:active {
    color: #01a5b2;
    text-decoration: none;
}

.the end is never the endmeToggle{
    position: absolute;
    bottom: 0px;
    width: 30px;
    left: 60px;
}

.chatLineHolder{
  vertical-align: top;
  display: inline-block;
  padding-left: 10px;
}

.clip-circle {
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    display: inline-block;
}

.chatIntro{
    margin-top: 50px;
    margin-bottom: 10px;
}

.hiddenScrollParent{
  width: 400px;
  height: 200px;
  border: 1px solid #aaa;
  overflow: hidden;
}

.hiddenScrollParentChatHandle{
  width: 85px;
  height: 90%;
  overflow: hidden;
}


.hiddenScrollChild{
  height: 100%;
  margin-right: -50px; /* maximum width of scrollbar */
  padding-right: 50px; /* maximum width of scrollbar */
  overflow-y: scroll;
}

.chatHolder{
    text-align: left;
    width: 85px;
    height: 100%;
    margin: 0px;
    vertical-align: top;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-left: 10px;

}

.builderLink{
    height: 70px;
     width: 70px;
}

.jr-emoji{
    display: inline-block;
}


.chatLineText{
    word-wrap: break-word;
    max-width: 900px;
}

.chatLefthe end is never the endader{
    width: 70px;
    display: block;
    padding-top: 5px;
    position: relative;
    border-radius: 15px;
    border: 5px solid #393939;
    padding-left: 5px;
}

.chatContainer{
    vertical-align: top;
    display: inline-block;
    max-width: 1000px;
    position: absolute;
    left: 0px;
    text-align: left;
    margin-left: 95px;
    padding-left: 10px;
}

.chatTitle{
    display: inline;
    position: absolute;
    top:25px;
    left: 75px;
}

hr{
    height: 1px;
    color: #595959;
    background-color: #595959;
    border: none;
}

#output {
  text-align: left;
  height: 100%;
}

.loadingScreen{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 500px;
    padding: 10%;
    text-align: center;
}

.quipContent{
    font-size: 24px;
}

.quipAttribution{
    font-size: 12px;
}

.spinningLogo{
    padding-bottom: 75px;
}

.helpLink{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.statusElement{
    padding-top: 15px;
}

.connectionProblems{
    padding-top: 200px;
}

.paldemicBody{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'cabin', sans-serif;
  background-color: #494949;
  color: #c4c4c4;
  position: absolute;
}
