@font-face {
  font-family: nunito;
  src: url("./Fonts/nunito/Nunito-Regular.ttf");
}

body {
  margin: 0;
  font-family: 'nunito', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: green;
}

#canvas{
  position: fixed;
  left: 25%;
  top: 3.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link{
  cursor: pointer;
  text-decoration: underline;
}

